# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# VS Code
.vscode/

# Output
logs/
output/

# Build
build/
dist/

# Test cache
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db